@model StarSecurityService.Web.Models.HomeAboutUs
@{
    ViewBag.Title = "AboutUs";
}
@section sub_header_about{
    <div id="Subheader">
        <div class="container">
            <div class="column one">
                <h1 class="title">ABOUT US</h1>
            </div>
        </div>
    </div>
}
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content" itemprop="mainContentOfPage">
                <div class="section mcb-section mcb-section-rqird4puy" style="padding-top:80px;padding-bottom:40px;background-color:#ffffff">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-2tkcgcxso three-fifth  valign-top clearfix" style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-re6rr27wa one column_column">
                                    <h3 style="margin-bottom: 0; color:#6d6e72">HISTORY</h3>
                                    @*<div class="column_attr clearfix" style="">
                                <h4 class="themecolor">TITLE</h4>
                                <hr class="no_line" style="margin: 0 auto 10px;" />
                                <p style="color: #212121;">
                                    SSS has been servicing large Government organizations since 2008. Starting the security business in the year 2006 the company has expanded its staff strength over 3500 within short span of time by the dint of its dedication and merit in terms od operation, scope of services and customer confidence. SSS has developed in advanced technology systems like CCTV cameras, communication devices, Scanners and surveillance radar, round the clock control room.
                                </p>
                            </div>*@
                                    @{
                                        string url = string.IsNullOrEmpty(Model.HistoryModel.FirstOrDefault()?.Image) ? "/Areas/Asset/img/new_seo-10-512.png" : $"../../Areas/Asset/img/{Model.HistoryModel.FirstOrDefault()?.Image}";
                                    }
                                    @foreach (var item in Model.HistoryModel)
                                    {
                                        <div class="column_attr clearfix" style="">
                                            <h4 class="themecolor">@item.Title</h4>
                                            <p style="color: #212121;">
                                                @item.Description
                                            </p>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-whwfs3ksd two-fifth  valign-top clearfix" style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-9ffc97bt3 one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="@url" alt="" title="" /></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @{ var index = 1; }
                @foreach (var item in Model.ShareHolderModel)
                {
                    index++;
                    string itemurl = string.IsNullOrEmpty(item.Image) ? "" : $"../../Areas/Asset/img/{item.Image}";
                    string color = index % 2 == 0 ? "#99a0b0" : "#ffffff";
                    <div class="section mcb-section mcb-section-c44bbf2b9  no-margin-h no-margin-v full-width mt-40"
                         style="padding-top: 0px; padding-bottom: 0px; background-color: @(index %2 == 0 ? "#99a0b0" : "#ffffff" ) ">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap mcb-wrap-387f75522 one  valign-top bg-cover clearfix"
                                 style="padding:80px 8% 120px">


                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column mcb-item-4d35b29d5 three-fourth column_column">
                                        <div class="column_attr clearfix align_left" style="padding:30px 10px 0 0;">
                                            <h3 style="margin-bottom: 0; color:@(index %2 == 0 ? "#ffffff" :"#6d6e72"  )">@item.Name</h3>
                                            <h4 class="themecolor" style="@(index %2 == 0 ? "color:#ffffff" : "" )">@item.Address</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />
                                            <p style="@(index %2 == 0 ? "color:#ffffff" : "" )">
                                                @item.Description
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-jcx33gw38 one-fourth column_image">
                                        <div class="image_frame image_item no_link scale-with-grid no_border">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid"
                                                     src="@itemurl" alt=""
                                                     title="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-52z407m2d one column_divider">
                                        <hr class="no_line" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @*<div class="section mcb-section mcb-section-lw60fn92d  no-margin-h no-margin-v full-width mt-40"
             style="padding-top:0px;padding-bottom:0px;background-color:#99a0b0">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap mcb-wrap-tot7ce5t0 one  valign-top bg-cover clearfix"
                     style="padding:40px 8% 120px">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column mcb-item-nu8f6b0ee one-fourth column_image">
                            <div class="image_frame image_item no_link scale-with-grid no_border">
                                <div class="image_wrapper">
                                    <img class="scale-with-grid"
                                         src="~/Content/wp-content/uploads/2020/01/MR.-OBAID-ALIAL-ZAABI.jpg"
                                         alt="" title="" />
                                </div>
                            </div>
                        </div>
                        <div class="column mcb-column mcb-item-4zif2xkca three-fourth column_column">
                            <div class="column_attr clearfix align_left" style="padding:30px 0 0 20px;">
                                <h3 style="margin-bottom: 0;">Mr Suroor Mubarak Al Naeimi</h3>
                                <h4 style="color: #ffffff;">Operation Manager</h4>
                                <hr class="no_line" style="margin: 0 auto 10px;" />

                                <p style="color: #ffffff;">
                                    He has a rich experience of over 23 years in
                                    the UAE police & was involved in various various security aspects of
                                    Oil & Gas field companies, airport security etc. He is a motivated
                                    person who is well experienced in the field of security operations.
                                    Due to
                                    his timely guidance to his operation team he has a dedicated
                                    operation staff. All operation staff
                                    have the competence and high degree of response and responsibility
                                    at all times under his
                                    guidance & leadership.

                                </p>



                            </div>
                        </div>
                        <div class="column mcb-column mcb-item-d9l9o9pfs one column_divider">
                            <hr class="no_line" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section mcb-section mcb-section-7tdb7z8rv  no-margin-h no-margin-v full-width mt-40"
             style="padding-top:0px;padding-bottom:0px;background-color:#ffffff">
            <div class="section_wrapper mcb-section-inner">
                <div class="wrap mcb-wrap mcb-wrap-wkgszn9fk one  valign-top bg-cover clearfix"
                     style="padding:60px 8% 100px">
                    <div class="mcb-wrap-inner">
                        <div class="column mcb-column mcb-item-5r177ye91 three-fourth column_column">
                            <div class="column_attr clearfix align_left" style="padding:30px 10px 0 0;">
                                <h3 style="margin-bottom: 0; color:#6d6e72;">Mr Anil Kumar</h3>
                                <h4 class="themecolor">Branch Manager of Dubai</h4>
                                <hr class="no_line" style="margin: 0 auto 10px;" />

                                <p>
                                    Mr. Anil Kumar has a rich experience of over 20 years in the Indian
                                    Army. He is an expert on First Aid, Fire Fighting, Health, Safety &
                                    Environment. His
                                    contribution to the company with his army & civil experience and
                                    professional service enabled in
                                    the growth of the company in Dubai & Northern Emirates in a
                                    tremendous way.
                                    Apart from the top management of Star Security the middle rung
                                    officers & supervisors and
                                    other support staff contribute their professional expertise which
                                    has gone a long way to bring
                                    laurel to Star Security and made our company very popular among our
                                    clients.
                                </p>



                            </div>
                        </div>
                        <div class="column mcb-column mcb-item-ou461yf49 one-fourth column_image">
                            <div class="image_frame image_item no_link scale-with-grid no_border">
                                <div class="image_wrapper">
                                    <img class="scale-with-grid"
                                         src="~/Content/wp-content/uploads/2020/01/YOUSEF-MOHAMMED-JASSIM-AL-HOSANI-.jpg"
                                         alt="" title="" />
                                </div>
                            </div>
                        </div>
                        <div class="column mcb-column mcb-item-5hcy19bf9 one column_divider">
                            <hr class="no_line" />
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
                <div class="section the_content no_content"><div class="section_wrapper"><div class="the_content_wrapper"></div></div></div>
                <div class="section section-page-footer">
                    <div class="section_wrapper clearfix">
                        <div class="column one page-pager">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

