@model StarSecurityService.Web.Models.HomeAboutUs
@{
    ViewBag.Title = "AboutUs";
}
@section sub_header_about{
    <div id="Subheader">
        <div class="container">
            <div class="column one">
                <h1 class="title">ABOUT US</h1>
            </div>
        </div>
    </div>
}
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content" itemprop="mainContentOfPage">
                <div class="section mcb-section mcb-section-rqird4puy" style="padding-top:80px;padding-bottom:40px;background-color:#ffffff">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-2tkcgcxso three-fifth  valign-top clearfix" style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-re6rr27wa one column_column">
                                    <h3 style="margin-bottom: 0; color:#6d6e72">HISTORY</h3>
                                    @{
                                        string url = string.IsNullOrEmpty(Model.HistoryModel.FirstOrDefault()?.Image) ? "/Areas/Asset/img/new_seo-10-512.png" : $"../../Areas/Asset/img/{Model.HistoryModel.FirstOrDefault()?.Image}";
                                    }
                                    @foreach (var item in Model.HistoryModel)
                                    {
                                        <div class="column_attr clearfix" style="">
                                            <h4 class="themecolor">@item.Title</h4>
                                            <p style="color: #212121;">
                                                @item.Description
                                            </p>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-whwfs3ksd two-fifth  valign-top clearfix" style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-9ffc97bt3 one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border"><div class="image_wrapper"><img class="scale-with-grid" src="@url" alt="" title="" /></div></div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                @{ var index = 1; }
                @foreach (var item in Model.ShareHolderModel)
                {
                    index++;
                    string itemurl = string.IsNullOrEmpty(item.Image) ? "" : $"../../Areas/Asset/img/{item.Image}";
                    string color = index % 2 == 0 ? "#99a0b0" : "#ffffff";
                    <div class="section mcb-section mcb-section-c44bbf2b9  no-margin-h no-margin-v full-width mt-40"
                         style="padding-top: 0px; padding-bottom: 0px; background-color: @(index %2 == 0 ? "#99a0b0" : "#ffffff" ) ">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap mcb-wrap-387f75522 one  valign-top bg-cover clearfix"
                                 style="padding:80px 8% 120px">


                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column mcb-item-4d35b29d5 three-fourth column_column">
                                        <div class="column_attr clearfix align_left" style="padding:30px 10px 0 0;">
                                            <h3 style="margin-bottom: 0; color:@(index %2 == 0 ? "#ffffff" :"#6d6e72"  )">@item.Name</h3>
                                            <h4 class="themecolor" style="@(index %2 == 0 ? "color:#ffffff" : "" )">@item.Address</h4>
                                            <hr class="no_line" style="margin: 0 auto 10px;" />
                                            <p style="@(index %2 == 0 ? "color:#ffffff" : "" )">
                                                @item.Description
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-jcx33gw38 one-fourth column_image">
                                        <div class="image_frame image_item no_link scale-with-grid no_border">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid"
                                                     src="@itemurl" alt=""
                                                     title="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-52z407m2d one column_divider">
                                        <hr class="no_line" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="section the_content no_content"><div class="section_wrapper"><div class="the_content_wrapper"></div></div></div>
                <div class="section section-page-footer">
                    <div class="section_wrapper clearfix">
                        <div class="column one page-pager">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

