@model IEnumerable<StarSecurityService.ApplicationCore.Entities.Client>
@{
    ViewBag.Title = "Emiratisation";
}
@section sub_header_emiratisation {
    <div id="Subheader">
        <div class="container">
            <div class="column one">
                <h1 class="title">EMIRATISATION</h1>
            </div>
        </div>
    </div>
}
<div id="Content">
    <div class="content_wrapper clearfix">

        <div class="sections_group">

            <div class="entry-content" itemprop="mainContentOfPage">

                <div class="section mcb-section mcb-section-c44bbf2b9  no-margin-h no-margin-v full-width"
                     style="padding-top:0px;padding-bottom:0px;">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-387f75522 one  valign-top bg-cover clearfix"
                             style="padding:80px 8% 80px;background-color:#99a0b0">
                            <div class="mcb-wrap-inner">
                                @*@foreach (var item in Model)
                                    {
                                        <div class="column mcb-column mcb-item-4d35b29d5 two-fifth column_column text-white">
                                            <div class="column_attr clearfix align_left" style="padding:0 10px 0 0;">
                                                <h3 style="margin-bottom: 0;">
                                                    @item.Name
                                                </h3>
                                                <hr class="no_line" style="margin: 0 auto 10px;" />
                                                <p>
                                                    @item.Address
                                                </p>
                                            </div>
                                        </div>
                                    }*@

                                @*<h1> @ViewBag.client.Address</h1>*@
                                <div class="column mcb-column mcb-item-4d35b29d5 two-fifth column_column text-white">
                                    <div class="column_attr clearfix align_left" style="padding:0 10px 0 0;">
                                        <h3 style="margin-bottom: 0;">
                                            @ViewBag.clientData.Name
                                        </h3>
                                        <hr class="no_line" style="margin: 0 auto 10px;" />

                                        <p>
                                            @ViewBag.clientData.Address
                                        </p>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-x2e8qvk7c three-fifth column_slider">
                                    <div class="content_slider flat hide-dots">
                                        <ul class="content_slider_ul">
                                            <li class="content_slider_li_1">
                                                <img width="900" height="500"
                                                     src="../wp-content/uploads/2019/11/abu4.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="https://starsecurity.ae/wp-content/uploads/2019/11/abu4.jpg 900w, https://starsecurity.ae/wp-content/uploads/2019/11/abu4-300x167.jpg 300w, https://starsecurity.ae/wp-content/uploads/2019/11/abu4-768x427.jpg 768w, https://starsecurity.ae/wp-content/uploads/2019/11/abu4-260x144.jpg 260w, https://starsecurity.ae/wp-content/uploads/2019/11/abu4-50x28.jpg 50w, https://starsecurity.ae/wp-content/uploads/2019/11/abu4-135x75.jpg 135w"
                                                     sizes="(max-width: 900px) 100vw, 900px" />
                                            </li>
                                            <li class="content_slider_li_2">
                                                <img width="900" height="500"
                                                     src="../wp-content/uploads/2019/11/dubai4.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="https://starsecurity.ae/wp-content/uploads/2019/11/dubai4.jpg 900w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai4-300x167.jpg 300w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai4-768x427.jpg 768w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai4-260x144.jpg 260w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai4-50x28.jpg 50w, https://starsecurity.ae/wp-content/uploads/2019/11/dubai4-135x75.jpg 135w"
                                                     sizes="(max-width: 900px) 100vw, 900px" />
                                            </li>
                                            <li class="content_slider_li_3">
                                                <img width="900" height="500"
                                                     src="../wp-content/uploads/2019/11/video4.jpg"
                                                     class="scale-with-grid wp-post-image" alt=""
                                                     srcset="https://starsecurity.ae/wp-content/uploads/2019/11/video4.jpg 900w, https://starsecurity.ae/wp-content/uploads/2019/11/video4-300x167.jpg 300w, https://starsecurity.ae/wp-content/uploads/2019/11/video4-768x427.jpg 768w, https://starsecurity.ae/wp-content/uploads/2019/11/video4-260x144.jpg 260w, https://starsecurity.ae/wp-content/uploads/2019/11/video4-50x28.jpg 50w, https://starsecurity.ae/wp-content/uploads/2019/11/video4-135x75.jpg 135w"
                                                     sizes="(max-width: 900px) 100vw, 900px" />
                                            </li>
                                        </ul>
                                        <div class="slider_pager slider_pagination"></div>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-52z407m2d one column_divider">
                                    <hr class="no_line" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section the_content no_content">
                    <div class="section_wrapper">
                        <div class="the_content_wrapper"></div>
                    </div>
                </div>
                <div class="section section-page-footer">
                    <div class="section_wrapper clearfix">

                        <div class="column one page-pager">
                        </div>

                    </div>
                </div>

            </div>


        </div>


    </div>
</div>

