@model StarSecurityService.Web.Models.HomeIndexModel
@{
    ViewBag.Title = "Star Security";
}

@section style{
    <style>
        .column_icon_box .title-wrapper {
            position: absolute;
            top: 60px;
            left: 17px;
            right: 0px;
        }

        .style-simple .icon_box .title-wrapper .title {
            color: white;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            max-width: 160px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
}
<div id="Content">
    <div class="content_wrapper clearfix">

        <div class="sections_group">

            <div class="entry-content" itemprop="mainContentOfPage">

                <div class="section mcb-section mcb-section-ylkmrierc" style="padding-top:80px;padding-bottom:10px;background-color:#ffffff">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-187q43x0j one  valign-top clearfix" style="">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-lh3o7uyfp one-fifth column_column">
                                    <div class="column_attr clearfix align_left animate fadeInLeft" data-anim-type="fadeInLeft" style="padding:90px 0 0;">
                                        <h3 style="color:#6d6e72">OUR<br>SERVICES</h3>
                                    </div>
                                </div>
                                @foreach (var item in Model.CategoryServiceOfferModel)
                                {
                                    <div class="column mcb-column mcb-item-xrrvx4bj6 one-fifth column_icon_box">
                                        <div class="animate fadeInUpLarge" data-anim-type="fadeInUpLarge">
                                            <div class="icon_box icon_position_top no_border">
                                                <div class="image_wrapper">
                                                    <img src="../../Content/wp-content/uploads/2019/07/SHIELD-guard-demo.png" class="scale-with-grid" alt="">
                                                </div>
                                                <div class="desc_wrapper title-wrapper">
                                                    <h5 class="title" title="@item.Name">@item.Name</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-5ydhpqene  no-margin-v bt-top" style="padding-bottom:10px;background-color:#ffffff">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-c42dxzzzt one-second  valign-middle clearfix" style="">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-g5khn0yb7 one column_image" style="padding-top: 30px">
                                    <div class="animate zoomIn" data-anim-type="zoomIn">
                                        <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                            <div class="image_wrapper">
                                                @if (!string.IsNullOrEmpty(Model?.HistoryModel?.Image))
                                                {
                                                    <img class="scale-with-grid"
                                                         src="../../Areas/Asset/img/@(Model?.HistoryModel?.Image)" alt=""
                                                         title="" />
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wrap mcb-wrap mcb-wrap-6s9q7k897 one-second  valign-top clearfix" style="padding:0 30px 0">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-ebdoowcl4 one column_column">
                                    <div class="column_attr clearfix align_left animate fadeInRight" data-anim-type="fadeInRight" style="padding:20px 0 0;">
                                        <h3 style="color:#6d6e72">@(Model?.HistoryModel?.Title)</h3>
                                        <p>
                                            @(Model?.HistoryModel?.Description)
                                        </p>
                                    </div>
                                </div><div class="column mcb-column mcb-item-mdcqgsqmc one column_button">
                                    <a class="button  button_right button_size_2 button_theme button_js kill_the_icon" href="@Url.Action("AboutUs", "Home")"><span class="button_icon"><i class="icon-right-dir"></i></span><span class="button_label">LEARN MORE</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section mcb-section-u97utt06q"
                     style="padding-top:100px;padding-bottom:20px;background-color:#99a0b0">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-rf6gif0t5 one  valign-top clearfix"
                             style="padding:0 2%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-8vdaq1f1l one column_column">
                                    <div class="column_attr clearfix align_center animate"
                                         data-anim-type="fadeInDown" style="">
                                        <h3 style="color:#000">OUR DIVISIONS</h3>
                                    </div>
                                </div>
                                @foreach (var item in Model.Branchs)
                                {
                                    <div class="column mcb-column mcb-item-u8w58k8p8 one-second column_icon_box" style="background-color: slategrey">
                                        <div class="animate" data-anim-type="zoomIn">
                                            <div class="icon_box icon_position_top no_border">
                                                    <h4 style="text-align:center" class="title">@item.Name</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section mcb-section mcb-section-sn5fjbb1k  no-margin-h"
                     style="padding-top:110px;padding-bottom:70px;background-color:#ffffff">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap mcb-wrap-o27uj2wr6 one  valign-top clearfix" style="">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-vdtzcw4vw one column_column">
                                    <div class="column_attr clearfix align_center" style="">
                                        <h3 style="color:#6d6e72">WHERE CAN YOU FIND US</h3>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-k4srygryc one-second column_column" style="width: 100%">
                                    <div class="column_attr clearfix align_center" style="">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.6549998389814!2d105.78124751540255!3d21.0464859925476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab32dd484c53%3A0x4201b89c8bdfd968!2zMjM4IEhvw6BuZyBRdeG7kWMgVmnhu4d0LCBD4buVIE5odeG6vywgQ-G6p3UgR2nhuqV5LCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1629728510258!5m2!1svi!2s" width="100%" height="490" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap mcb-wrap-whf7ojtbh one  valign-top clearfix" style="">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column mcb-item-j145ivpyv one column_divider">
                                    <hr class="no_line" style="margin: 0 auto 80px;" />
                                </div>
                                <div class="column mcb-column mcb-item-bua7hibng one column_column column-margin-20px">
                                    <div class="column_attr clearfix align_center" style="">
                                        <h3 style="color: #000;">
                                            YOU WANT TO KNOW MORE OR HAVE ANY
                                            QUESTIONS?<br /> PLEASE CONTACT US
                                        </h3>
                                    </div>
                                </div>
                                <div class="column mcb-column mcb-item-otdfj5nc3 one column_button">
                                    <div class="button_align align_center">
                                        <a class="button  button_right button_size_2 button_theme button_js"
                                           href="@Url.Action("ContactUs", "Home")">
                                            <span class="button_icon">
                                                <i class="icon-right-dir"></i>
                                            </span><span class="button_label">CONTACT US</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section the_content no_content">
                    <div class="section_wrapper">
                        <div class="the_content_wrapper"></div>
                    </div>
                </div>
                <div class="section section-page-footer">
                    <div class="section_wrapper clearfix">

                        <div class="column one page-pager">
                        </div>

                    </div>
                </div>

            </div>


        </div>


    </div>
</div>