<!DOCTYPE html>
<html lang="en-US" class="no-js" itemscope itemtype="https://schema.org/WebPage">


<!-- Mirrored from starsecurity.ae/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Jul 2021 13:33:43 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>

    <meta charset="UTF-8" />
    <link rel="alternate" hreflang="en-US" href="index.html" />
    <title>@ViewBag.Title</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="~/Content/wp-content/uploads/2019/07/banner-logo.png" type="image/x-icon" />
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="Star Security services &raquo; Feed"
          href="feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Star Security services &raquo; Comments Feed"
          href="comments/feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Star Security services &raquo; Home Comments Feed"
          href="home/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/starsecurity.ae\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.3.2" } };
        !function (e, a, t) { var r, n, o, i, p = a.createElement("canvas"), s = p.getContext && p.getContext("2d"); function c(e, t) { var a = String.fromCharCode; s.clearRect(0, 0, p.width, p.height), s.fillText(a.apply(this, e), 0, 0); var r = p.toDataURL(); return s.clearRect(0, 0, p.width, p.height), s.fillText(a.apply(this, t), 0, 0), r === p.toDataURL() } function l(e) { if (!s || !s.fillText) return !1; switch (s.textBaseline = "top", s.font = "600 32px Arial", e) { case "flag": return !c([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) && (!c([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !c([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447])); case "emoji": return !c([55357, 56424, 55356, 57342, 8205, 55358, 56605, 8205, 55357, 56424, 55356, 57340], [55357, 56424, 55356, 57342, 8203, 55358, 56605, 8203, 55357, 56424, 55356, 57340]) }return !1 } function d(e) { var t = a.createElement("script"); t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t) } for (i = Array("flag", "emoji"), t.supports = { everything: !0, everythingExceptFlag: !0 }, o = 0; o < i.length; o++)t.supports[i[o]] = l(i[o]), t.supports.everything = t.supports.everything && t.supports[i[o]], "flag" !== i[o] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[i[o]]); t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function () { t.DOMReady = !0 }, t.supports.everything || (n = function () { t.readyCallback() }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () { "complete" === a.readyState && t.readyCallback() })), (r = t.source || {}).concatemoji ? d(r.concatemoji) : r.wpemoji && r.twemoji && (d(r.twemoji), d(r.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='wp-block-library-css'
          href='~/Content/wp-includes/css/dist/block-library/style.min9dff.css?ver=5.3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css'
          href='~/Content/wp-content/plugins/contact-form-7/includes/css/stylesb62d.css?ver=5.1.6' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css'
          href='~/Content/wp-content/plugins/revslider/public/assets/css/settingsf542.css?ver=5.4.8.3' type='text/css'
          media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {
        }
    </style>
    <link rel='stylesheet' id='style-css' href='~/Content/wp-content/themes/betheme/styleab65.css?ver=21.3.1' type='text/css'
          media='all' />
    <link rel='stylesheet' id='mfn-base-css' href='~/Content/wp-content/themes/betheme/css/baseab65.css?ver=21.3.1'
          type='text/css' media='all' />
    <link rel='stylesheet' id='mfn-layout-css' href='~/Content/wp-content/themes/betheme/css/layoutab65.css?ver=21.3.1'
          type='text/css' media='all' />
    <link rel='stylesheet' id='mfn-shortcodes-css' href='~/Content/wp-content/themes/betheme/css/shortcodesab65.css?ver=21.3.1'
          type='text/css' media='all' />
    <link rel='stylesheet' id='mfn-animations-css'
          href='~/Content/wp-content/themes/betheme/assets/animations/animations.minab65.css?ver=21.3.1' type='text/css'
          media='all' />
    <link rel='stylesheet' id='mfn-jquery-ui-css'
          href='~/Content/wp-content/themes/betheme/assets/ui/jquery.ui.allab65.css?ver=21.3.1' type='text/css' media='all' />
    <link rel='stylesheet' id='mfn-jplayer-css'
          href='~/Content/wp-content/themes/betheme/assets/jplayer/css/jplayer.blue.mondayab65.css?ver=21.3.1' type='text/css'
          media='all' />
    <link rel='stylesheet' id='mfn-responsive-css' href='~/Content/wp-content/themes/betheme/css/responsiveab65.css?ver=21.3.1'
          type='text/css' media='all' />
    <link rel='stylesheet' id='mfn-fonts-css'
          href='https://fonts.googleapis.com/css?family=Teko%3A1%2C300%2C400%2C400italic%2C500%2C700%2C700italic&amp;ver=5.3.2'
          type='text/css' media='all' />
    <link href="~/Content/wp-css/Client.css" rel="stylesheet" />
    @RenderSection("stylecss", required: false)
    <link rel='stylesheet' id='popup-maker-site-css'
          href='~/Content/wp-content/uploads/pum/pum-site-styles4b43.css?generated=1622718908&amp;ver=1.16.1' type='text/css'
          media='all' />
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/jquery4a5f.js?ver=1.12.4-wp'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
    <script type='text/javascript'
            src='~/Content/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.minf542.js?ver=5.4.8.3'></script>
    <script type='text/javascript'
            src='~/Content/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.minf542.js?ver=5.4.8.3'></script>
    <link rel='https://api.w.org/' href='~/Content/wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/Content/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 5.3.2" />
    <link rel="canonical" href="index.html" />
    <link rel='shortlink' href='index.html' />
    <link rel="alternate" type="application/json+oembed"
          href="~/Content/wp-json/oembed/1.0/embedbd34.json?url=https%3A%2F%2Fstarsecurity.ae%2F" />
    <link rel="alternate" type="text/xml+oembed"
          href="~/Content/wp-json/oembed/1.0/embed9275?url=https%3A%2F%2Fstarsecurity.ae%2F&amp;format=xml" />
    <meta name="generator"
          content="Powered by Slider Revolution 5.4.8.3 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <script type="text/javascript">
        function setREVStartSize(e) {
            try {
                e.c = jQuery(e.c); var i = jQuery(window).width(), t = 9999, r = 0, n = 0, l = 0, f = 0, s = 0, h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) { f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e) }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) { var u = (e.c.width(), jQuery(window).height()); if (void 0 != e.fullScreenOffsetContainer) { var c = e.fullScreenOffsetContainer.split(","); if (c) jQuery.each(c, function (e, i) { u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0)) } f = u } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight); e.c.closest(".rev_slider_wrapper").css({ height: f })
            } catch (d) { console.log("Failure at Presize of Slider:" + d) }
        };
    </script>
</head>

<body class="home page-template-default page page-id-2 template-slider  color-custom style-simple button-flat layout-full-width no-content-padding header-below header-fw minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-right menuo-no-borders logo-no-sticky-padding footer-sliding footer-copy-center mobile-tb-hide mobile-side-slide mobile-mini-mr-lc tablet-sticky mobile-header-mini mobile-sticky be-reg-2131">

    <!-- mfn_hook_top -->
    <!-- mfn_hook_top -->

    <div id="Wrapper">

        <div class="mfn-main-slider" id="mfn-rev-slider">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" property="stylesheet"
                  type="text/css" media="all">
            <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery"
                 style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
                <!-- START REVOLUTION SLIDER 5.4.8.3 auto mode -->
                <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;"
                     data-version="5.4.8.3">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-1" data-transition="incube" data-slotamount="default" data-hideafterloop="0"
                            data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                            data-masterspeed="default"
                            data-thumb="~/Content/wp-content/uploads/2019/11/slider-new3-100x50.jpg"
                            data-delay="7000" data-rotate="0" data-saveperformance="off" data-title="Slide"
                            data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                            data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/Content/wp-content/uploads/2019/11/slider-new3.jpg" alt="" title="slider-new3"
                                 width="1920" height="1000" data-bgposition="center center" data-bgfit="cover"
                                 data-bgrepeat="no-repeat" data-bgparallax="8" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-1-layer-19"
                                 data-x="['left','left','left','left']" data-hoffset="['41','41','41','43']"
                                 data-y="['top','top','top','top']" data-voffset="['352','352','352','163']"
                                 data-fontweight="['900','900','900','400']" data-width="['556','556','556','419']"
                                 data-height="['223','223','223','206']" data-whitespace="nowrap" data-type="shape"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":850,"speed":840,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 5;background-color:rgba(255,255,255,0.5);border-radius:50px 0px 50px 0px;">
                            </div>

                            <!-- LAYER NR. 2 -->
                            <h2 class="tp-caption   tp-resizeme" id="slide-1-layer-1"
                                data-x="['left','left','left','left']" data-hoffset="['73','73','73','79']"
                                data-y="['top','top','top','top']" data-voffset="['370','370','370','188']"
                                data-fontsize="['49','49','49','29']" data-width="['498','498','498','465']"
                                data-height="['130','130','130','none']" data-whitespace="nowrap" data-type="text"
                                data-responsive_offset="on"
                                data-frames='[{"delay":1640,"speed":900,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 6; min-width: 498px; max-width: 498px; max-width: 130px; max-width: 130px; white-space: nowrap; font-size: 49px; line-height: 60px; font-weight: 900; color: #999999; letter-spacing: 0px;font-family:Impact, Charcoal, sans-serif;text-transform:uppercase;">
                                <div style="color:#000 !important">
                                    We <span class="myDIV">secure</span> about
                                    <span class="hide">
                                        <ul>
                                            <li>S-Secure </li>
                                            <li>E-Earnest</li>
                                            <li>C-Commitment</li>
                                            <li>U-Useful</li>
                                            <li>R-Respect</li>
                                            <li>E-Expansion</li>
                                        </ul>

                                    </span>
                                    <br>
                                    <span style="color:#ffffff;"></span>
                                </div>

                            </h2>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption   tp-resizeme" id="slide-1-layer-13"
                                 data-x="['left','left','left','left']" data-hoffset="['74','74','74','81']"
                                 data-y="['top','top','top','top']" data-voffset="['431','431','431','225']"
                                 data-fontsize="['49','49','49','29']" data-width="327" data-height="none"
                                 data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                 data-frames='[{"delay":2000,"speed":900,"frame":"0","from":"x:right;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 7; min-width: 327px; max-width: 327px; white-space: nowrap; font-size: 49px; line-height: 52px; font-weight: 900; color: #00064c; letter-spacing: 0px;font-family:Impact, Charcoal, sans-serif;text-transform:uppercase;">
                                You
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption   tp-resizeme" id="slide-1-layer-15"
                                 data-x="['left','left','left','left']" data-hoffset="['15','15','15','10']"
                                 data-y="['top','top','top','top']" data-voffset="['44','44','44','30']"
                                 data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":890,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":320,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]" style="z-index: 8;">
                                <img src="~/Content/wp-content/uploads/2019/07/banner-logo.png" alt=""
                                     data-ww="['80px','80px','80px','55px']" data-hh="['98px','98px','98px','67px']"
                                     width="60" height="73" data-no-retina>
                            </div>

                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption   tp-resizeme" id="slide-1-layer-17"
                                 data-x="['left','left','left','left']" data-hoffset="['75','75','75','78']"
                                 data-y="['top','top','top','top']" data-voffset="['498','498','498','301']"
                                 data-fontsize="['13','13','13','9']" data-lineheight="['22','22','22','16']"
                                 data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":2350,"speed":1050,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 9; white-space: nowrap; font-size: 13px; line-height: 22px; font-weight: 400; color: #000000; letter-spacing: 3px;font-family:Open Sans;">
                                Star Security Service LLC is company that represents <br>modern security practices,
                                outstanding management<br> techniques and high efficiency standards
                            </div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-index="rs-6" data-transition="incube" data-slotamount="default" data-hideafterloop="0"
                            data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                            data-masterspeed="default"
                            data-thumb="~/Content/wp-content/uploads/2019/11/slider-new3-100x50.jpg"
                            data-delay="7000" data-rotate="0" data-saveperformance="off" data-title="Slide"
                            data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                            data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/Content/wp-content/uploads/2019/11/slider-new3.jpg" alt="" title="slider-new3"
                                 width="1920" height="1000" data-bgposition="center center" data-bgfit="cover"
                                 data-bgrepeat="no-repeat" data-bgparallax="8" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-6-layer-19"
                                 data-x="['left','left','left','left']" data-hoffset="['41','41','41','43']"
                                 data-y="['top','top','top','top']" data-voffset="['352','352','352','163']"
                                 data-fontweight="['900','900','900','400']" data-width="['556','556','556','419']"
                                 data-height="['223','223','223','206']" data-whitespace="nowrap" data-type="shape"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":850,"speed":840,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 5;background-color:rgba(255,255,255,0.5);border-radius:50px 0px 50px 0px;">
                            </div>

                            <!-- LAYER NR. 7 -->
                            <h2 class="tp-caption   tp-resizeme" id="slide-6-layer-1"
                                data-x="['left','left','left','left']" data-hoffset="['73','73','73','79']"
                                data-y="['top','top','top','top']" data-voffset="['370','370','370','188']"
                                data-fontsize="['49','49','49','29']" data-width="['498','498','498','465']"
                                data-height="['130','130','130','none']" data-whitespace="nowrap" data-type="text"
                                data-responsive_offset="on"
                                data-frames='[{"delay":1640,"speed":900,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 6; min-width: 498px; max-width: 498px; max-width: 130px; max-width: 130px; white-space: nowrap; font-size: 49px; line-height: 60px; font-weight: 900; color: #999999; letter-spacing: 0px;font-family:Impact, Charcoal, sans-serif;text-transform:uppercase;">
                                <div style="color:#000 !important">
                                    We <span class="myDIV">secure</span> about
                                    <span class="hide">
                                        <ul>
                                            <li>S-Secure </li>
                                            <li>E-Earnest</li>
                                            <li>C-Commitment</li>
                                            <li>U-Useful</li>
                                            <li>R-Respect</li>
                                            <li>E-Expansion</li>
                                        </ul>

                                    </span>
                                    <br>
                                    <span style="color:#ffffff;"></span>
                                </div>

                            </h2>

                            <!-- LAYER NR. 8 -->
                            <div class="tp-caption   tp-resizeme" id="slide-6-layer-13"
                                 data-x="['left','left','left','left']" data-hoffset="['74','74','74','81']"
                                 data-y="['top','top','top','top']" data-voffset="['431','431','431','225']"
                                 data-fontsize="['49','49','49','29']" data-width="327" data-height="none"
                                 data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                 data-frames='[{"delay":2000,"speed":900,"frame":"0","from":"x:right;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 7; min-width: 327px; max-width: 327px; white-space: nowrap; font-size: 49px; line-height: 52px; font-weight: 900; color: #00064c; letter-spacing: 0px;font-family:Impact, Charcoal, sans-serif;text-transform:uppercase;">
                                You
                            </div>

                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption   tp-resizeme" id="slide-6-layer-15"
                                 data-x="['left','left','left','left']" data-hoffset="['15','15','15','10']"
                                 data-y="['top','top','top','top']" data-voffset="['44','44','44','30']"
                                 data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":890,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":320,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]" style="z-index: 8;">
                                <img src="~/Content/wp-content/uploads/2019/07/banner-logo.png" alt=""
                                     data-ww="['80px','80px','80px','55px']" data-hh="['98px','98px','98px','67px']"
                                     width="60" height="73" data-no-retina>
                            </div>

                            <!-- LAYER NR. 10 -->
                            <div class="tp-caption   tp-resizeme" id="slide-6-layer-17"
                                 data-x="['left','left','left','left']" data-hoffset="['75','75','75','78']"
                                 data-y="['top','top','top','top']" data-voffset="['498','498','498','301']"
                                 data-fontsize="['13','13','13','9']" data-lineheight="['22','22','22','16']"
                                 data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":2350,"speed":1050,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 9; white-space: nowrap; font-size: 13px; line-height: 22px; font-weight: 400; color: #000000; letter-spacing: 3px;font-family:Open Sans;">
                                Star Security Service LLC is company that represents <br>modern security practices,
                                outstanding management<br> techniques and high efficiency standards
                            </div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-index="rs-4" data-transition="incube" data-slotamount="default" data-hideafterloop="0"
                            data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                            data-masterspeed="default"
                            data-thumb="~/Content/wp-content/uploads/2019/11/slider-new2-100x50.jpg"
                            data-delay="6990" data-rotate="0" data-saveperformance="off" data-title="Slide"
                            data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                            data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/Content/wp-content/uploads/2019/11/slider-new2.jpg" alt="" title="slider-new2"
                                 width="1920" height="1000" data-bgposition="center center" data-bgfit="cover"
                                 data-bgrepeat="no-repeat" data-bgparallax="8" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 11 -->
                            <h2 class="tp-caption   tp-resizeme" id="slide-4-layer-1"
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                data-y="['top','top','top','top']" data-voffset="['361','361','361','361']"
                                data-width="352" data-height="62" data-whitespace="nowrap" data-type="text"
                                data-responsive_offset="on"
                                data-frames='[{"delay":1640,"speed":900,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 5; min-width: 352px; max-width: 352px; max-width: 62px; max-width: 62px; white-space: nowrap; font-size: 49px; line-height: 60px; font-weight: 900; color: #999999; letter-spacing: 0px;font-family:Impact, Charcoal, sans-serif;text-transform:uppercase;">
                                <div style="color:#000 !important">
                                    We <span class="myDIV">secure</span>
                                    <span class="hide">
                                        About
                                        <ul>
                                            <li class="mb5">S-Secure </li>
                                            <li class="mb5">E-Earnest</li>
                                            <li class="mb5">C-Commitment</li>
                                            <li class="mb5">U-Useful</li>
                                            <li class="mb5">R-Respect</li>
                                            <li class="mb5">E-Expansion</li>
                                        </ul>

                                    </span>
                                    <span style="color:#ffffff;"></span>
                                </div>
                            </h2>

                            <!-- LAYER NR. 12 -->
                            <div class="tp-caption   tp-resizeme" id="slide-4-layer-13"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']" data-voffset="['417','417','417','417']"
                                 data-width="94" data-height="55" data-whitespace="nowrap" data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":2010,"speed":900,"frame":"0","from":"x:right;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 6; min-width: 94px; max-width: 94px; max-width: 55px; max-width: 55px; white-space: nowrap; font-size: 49px; line-height: 52px; font-weight: 900; color: #00064c; letter-spacing: 0px;font-family:Impact, Charcoal, sans-serif;text-transform:uppercase;">
                                You
                            </div>

                            <!-- LAYER NR. 13 -->
                            <div class="tp-caption   tp-resizeme" id="slide-4-layer-15"
                                 data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']"
                                 data-y="['top','top','top','top']" data-voffset="['44','44','44','44']"
                                 data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":880,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]" style="z-index: 7;">
                                <img src="~/Content/wp-content/uploads/2019/07/banner-logo.png" alt=""
                                     data-ww="['80px','80px','80px','80px']" data-hh="['98px','98px','98px','98px']"
                                     width="60" height="73" data-no-retina>
                            </div>

                            <!-- LAYER NR. 14 -->
                            <div class="tp-caption   tp-resizeme" id="slide-4-layer-17"
                                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                 data-y="['top','top','top','top']" data-voffset="['476','476','476','476']"
                                 data-width="665" data-height="66" data-whitespace="nowrap" data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":2350,"speed":1050,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 8; min-width: 665px; max-width: 665px; max-width: 66px; max-width: 66px; white-space: nowrap; font-size: 13px; line-height: 22px; font-weight: 400; color: #000000; letter-spacing: 3px;font-family:Open Sans;">
                                Star Security Service LLC is company that represents modern<br> security practices,
                                outstanding management techniques and<br> high efficiency standards
                            </div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-index="rs-3" data-transition="incube" data-slotamount="default" data-hideafterloop="0"
                            data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                            data-masterspeed="default"
                            data-thumb="~/Content/wp-content/uploads/2019/11/slider-new1-100x50.jpg"
                            data-delay="6990" data-rotate="0" data-saveperformance="off" data-title="Slide"
                            data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                            data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/Content/wp-content/uploads/2019/11/slider-new1.jpg" alt="" title="slider-new1"
                                 width="1920" height="1000" data-bgposition="center center" data-bgfit="cover"
                                 data-bgrepeat="no-repeat" data-bgparallax="8" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 15 -->
                            <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-3-layer-19"
                                 data-x="['left','left','left','left']" data-hoffset="['41','41','41','41']"
                                 data-y="['top','top','top','top']" data-voffset="['352','352','352','352']"
                                 data-width="556" data-height="223" data-whitespace="nowrap" data-type="shape"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":850,"speed":840,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 5;background-color:rgba(255,255,255,0.73);border-radius:50px 0px 50px 0px;">
                            </div>

                            <!-- LAYER NR. 16 -->
                            <h2 class="tp-caption   tp-resizeme" id="slide-3-layer-1"
                                data-x="['left','left','left','left']" data-hoffset="['76','76','76','76']"
                                data-y="['top','top','top','top']" data-voffset="['369','369','369','369']"
                                data-width="498" data-height="130" data-whitespace="nowrap" data-type="text"
                                data-responsive_offset="on"
                                data-frames='[{"delay":1640,"speed":900,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 6; min-width: 498px; max-width: 498px; max-width: 130px; max-width: 130px; white-space: nowrap; font-size: 49px; line-height: 60px; font-weight: 900; color: #999999; letter-spacing: 0px;font-family:Impact, Charcoal, sans-serif;text-transform:uppercase;">
                                <div style="color:#000 !important">
                                    We <span class="myDIV">secure</span> About
                                    <span class="hide">
                                        <ul>
                                            <li>S-Secure </li>
                                            <li>E-Earnest</li>
                                            <li>C-Commitment</li>
                                            <li>U-Useful</li>
                                            <li>R-Respect</li>
                                            <li>E-Expansion</li>
                                        </ul>

                                    </span><br>
                                    <span style="color:#ffffff;"></span>
                                </div>
                            </h2>

                            <!-- LAYER NR. 17 -->
                            <div class="tp-caption   tp-resizeme" id="slide-3-layer-13"
                                 data-x="['left','left','left','left']" data-hoffset="['75','75','75','75']"
                                 data-y="['top','top','top','top']" data-voffset="['434','434','434','434']"
                                 data-width="327" data-height="none" data-whitespace="nowrap" data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":2000,"speed":900,"frame":"0","from":"x:right;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 7; min-width: 327px; max-width: 327px; white-space: nowrap; font-size: 49px; line-height: 52px; font-weight: 900; color: #00064c; letter-spacing: 0px;font-family:Impact, Charcoal, sans-serif;text-transform:uppercase;">
                                You
                            </div>

                            <!-- LAYER NR. 18 -->
                            <div class="tp-caption   tp-resizeme" id="slide-3-layer-15"
                                 data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']"
                                 data-y="['top','top','top','top']" data-voffset="['44','44','44','44']"
                                 data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":880,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]" style="z-index: 8;">
                                <img src="~/Content/wp-content/uploads/2019/07/banner-logo.png" alt=""
                                     data-ww="['80px','80px','80px','80px']" data-hh="['98px','98px','98px','98px']"
                                     width="60" height="73" data-no-retina>
                            </div>

                            <!-- LAYER NR. 19 -->
                            <div class="tp-caption   tp-resizeme" id="slide-3-layer-17"
                                 data-x="['left','left','left','left']" data-hoffset="['75','75','75','75']"
                                 data-y="['top','top','top','top']" data-voffset="['498','498','498','498']"
                                 data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":2350,"speed":1050,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 9; white-space: nowrap; font-size: 13px; line-height: 22px; font-weight: 400; color: #000000; letter-spacing: 3px;font-family:Open Sans;">
                                Star Security Service LLC is company that represents <br>modern security practices,
                                outstanding management<br> techniques and high efficiency standards
                            </div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-index="rs-5" data-transition="incube" data-slotamount="default" data-hideafterloop="0"
                            data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                            data-masterspeed="default"
                            data-thumb="~/Content/wp-content/uploads/2019/11/slider-new4-100x50.jpg"
                            data-delay="6990" data-rotate="0" data-saveperformance="off" data-title="Slide"
                            data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                            data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/Content/wp-content/uploads/2019/11/slider-new4.jpg" alt="" title="slider-new4"
                                 width="1920" height="1000" data-bgposition="center center" data-bgfit="cover"
                                 data-bgrepeat="no-repeat" data-bgparallax="8" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                            <!-- LAYER NR. 20 -->
                            <h2 class="tp-caption   tp-resizeme" id="slide-5-layer-1"
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                data-y="['top','top','top','top']" data-voffset="['281','281','281','281']"
                                data-width="347" data-height="62" data-whitespace="nowrap" data-type="text"
                                data-responsive_offset="on"
                                data-frames='[{"delay":1640,"speed":900,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 5; min-width: 347px; max-width: 347px; max-width: 62px; max-width: 62px; white-space: nowrap; font-size: 49px; line-height: 60px; font-weight: 900; color: #999999; letter-spacing: 0px;font-family:Impact, Charcoal, sans-serif;text-transform:uppercase;">
                                <div style="color:#000 !important">
                                    We <span class="myDIV">secure</span> About
                                    <span class="hide">
                                        <ul>
                                            <li>S-Secure </li>
                                            <li>E-Earnest</li>
                                            <li>C-Commitment</li>
                                            <li>U-Useful</li>
                                            <li>R-Respect</li>
                                            <li>E-Expansion</li>
                                        </ul>

                                    </span>
                                    <span style="color:#ffffff;"></span>
                                </div>
                            </h2>

                            <!-- LAYER NR. 21 -->
                            <div class="tp-caption   tp-resizeme" id="slide-5-layer-13"
                                 data-x="['center','center','center','center']"
                                 data-hoffset="['-127','-127','-127','-127']" data-y="['top','top','top','top']"
                                 data-voffset="['346','346','346','346']" data-width="92" data-height="54"
                                 data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                                 data-frames='[{"delay":2000,"speed":900,"frame":"0","from":"x:right;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 6; min-width: 92px; max-width: 92px; max-width: 54px; max-width: 54px; white-space: nowrap; font-size: 49px; line-height: 52px; font-weight: 900; color: #00064c; letter-spacing: 0px;font-family:Impact, Charcoal, sans-serif;text-transform:uppercase;">
                                You
                            </div>

                            <!-- LAYER NR. 22 -->
                            <div class="tp-caption   tp-resizeme" id="slide-5-layer-15"
                                 data-x="['left','left','left','left']" data-hoffset="['15','15','15','15']"
                                 data-y="['top','top','top','top']" data-voffset="['44','44','44','44']"
                                 data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":880,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]" style="z-index: 7;">
                                <img src="~/Content/wp-content/uploads/2019/07/banner-logo.png" alt=""
                                     data-ww="['80px','80px','80px','80px']" data-hh="['98px','98px','98px','98px']"
                                     width="60" height="73" data-no-retina>
                            </div>

                            <!-- LAYER NR. 23 -->
                            <div class="tp-caption   tp-resizeme" id="slide-5-layer-17"
                                 data-x="['center','center','center','center']" data-hoffset="['-3','-3','-3','-3']"
                                 data-y="['top','top','top','top']" data-voffset="['406','406','406','406']"
                                 data-width="665" data-height="66" data-whitespace="nowrap" data-type="text"
                                 data-responsive_offset="on"
                                 data-frames='[{"delay":2350,"speed":1050,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                 data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
                                 data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                 data-paddingleft="[0,0,0,0]"
                                 style="z-index: 8; min-width: 665px; max-width: 665px; max-width: 66px; max-width: 66px; white-space: nowrap; font-size: 13px; line-height: 22px; font-weight: 400; color: #000000; letter-spacing: 3px;font-family:Open Sans;">
                                Star Security Service LLC is company that represents modern<br> security practices,
                                outstanding management techniques and<br> high efficiency standards
                            </div>
                        </li>
                    </ul>
                    <script>
                        var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss = "";
                        if (htmlDiv) {
                            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                        } else {
                            var htmlDiv = document.createElement("div");
                            htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                            document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                        }
                    </script>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
                <script>
                    var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss = "";
                    if (htmlDiv) {
                        htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                    } else {
                        var htmlDiv = document.createElement("div");
                        htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                        document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                    }
                </script>
                <script type="text/javascript">
                    if (setREVStartSize !== undefined) setREVStartSize(
                        { c: '#rev_slider_1_1', responsiveLevels: [1240, 1024, 778, 480], gridwidth: [1080, 1024, 778, 480], gridheight: [800, 768, 960, 400], sliderLayout: 'auto' });

                    var revapi1,
                        tpj;
                    (function () {
                        if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded", onLoad); else onLoad();
                        function onLoad() {
                            if (tpj === undefined) { tpj = jQuery; if ("off" == "on") tpj.noConflict(); }
                            if (tpj("#rev_slider_1_1").revolution == undefined) {
                                revslider_showDoubleJqueryError("#rev_slider_1_1");
                            } else {
                                revapi1 = tpj("#rev_slider_1_1").show().revolution({
                                    sliderType: "standard",
                                    jsFileLocation: "~/Content/wp-content/plugins/revslider/public/assets/js/",
                                    sliderLayout: "auto",
                                    dottedOverlay: "none",
                                    delay: 9000,
                                    navigation: {
                                        keyboardNavigation: "off",
                                        keyboard_direction: "horizontal",
                                        mouseScrollNavigation: "off",
                                        mouseScrollReverse: "default",
                                        onHoverStop: "off",
                                        bullets: {
                                            enable: true,
                                            hide_onmobile: false,
                                            style: "hesperiden",
                                            hide_onleave: false,
                                            direction: "horizontal",
                                            h_align: "center",
                                            v_align: "bottom",
                                            h_offset: 0,
                                            v_offset: 20,
                                            space: 5,
                                            tmp: ''
                                        }
                                    },
                                    responsiveLevels: [1240, 1024, 778, 480],
                                    visibilityLevels: [1240, 1024, 778, 480],
                                    gridwidth: [1080, 1024, 778, 480],
                                    gridheight: [800, 768, 960, 400],
                                    lazyType: "none",
                                    scrolleffect: {
                                        blur: "on",
                                    },
                                    parallax: {
                                        type: "scroll",
                                        origo: "enterpoint",
                                        speed: 400,
                                        speedbg: 0,
                                        speedls: 0,
                                        levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 55],
                                    },
                                    shadow: 0,
                                    spinner: "spinner2",
                                    stopLoop: "off",
                                    stopAfterLoops: -1,
                                    stopAtSlide: -1,
                                    shuffle: "off",
                                    autoHeight: "off",
                                    disableProgressBar: "on",
                                    hideThumbsOnMobile: "off",
                                    hideSliderAtLimit: 0,
                                    hideCaptionAtLimit: 0,
                                    hideAllCaptionAtLilmit: 0,
                                    debugMode: false,
                                    fallbacks: {
                                        simplifyAll: "off",
                                        nextSlideOnWindowFocus: "off",
                                        disableFocusListener: false,
                                    }
                                });
                            }; /* END OF revapi call */

                        }; /* END OF ON LOAD FUNCTION */
                    }()); /* END OF WRAPPING FUNCTION */
                </script>
                <script>
                    var htmlDivCss = ' #rev_slider_1_1_wrapper .tp-loader.spinner2{ background-color: #FFFFFF !important; } ';
                    var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
                    if (htmlDiv) {
                        htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                    }
                    else {
                        var htmlDiv = document.createElement('div');
                        htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
                        document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
                    }
                </script>
                <script>
                    var htmlDivCss = unescape(".hide%20%7B%0A%20%20display%3A%20none%3B%0A%20%20background%3A%23ffffff80%3B%0A%20%20position%3Aabsolute%3B%0A%20%20padding%3A20px%3B%0A%20%20font-size%3A18px%20%21important%3B%0A%20%20top%3A-180px%3B%0A%20%20left%3A200px%3B%0A%20%20%0A%7D%0A%20%20%20%20%0A.myDIV%3Ahover%20%2B%20.hide%20%7B%0A%20%20display%3A%20block%3B%0A%20%20color%3A%20%2300064c%3B%0A%20%20%0A%20%20padding%3A20px%0A%7D%0A%0Aul%20li%7B%0Aline-height%3A%2020px%3B%0A%7D");
                    var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
                    if (htmlDiv) {
                        htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                    }
                    else {
                        var htmlDiv = document.createElement('div');
                        htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
                        document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
                    }
                </script>
                <script>
                    var htmlDivCss = unescape(".hesperiden.tp-bullets%20%7B%0A%7D%0A.hesperiden.tp-bullets%3Abefore%20%7B%0A%09content%3A%22%20%22%3B%0A%09position%3Aabsolute%3B%0A%09width%3A100%25%3B%0A%09height%3A100%25%3B%0A%09background%3Atransparent%3B%0A%09padding%3A10px%3B%0A%09margin-left%3A-10px%3Bmargin-top%3A-10px%3B%0A%09box-sizing%3Acontent-box%3B%0A%20%20%20border-radius%3A8px%3B%0A%20%20%0A%7D%0A.hesperiden%20.tp-bullet%20%7B%0A%09width%3A12px%3B%0A%09height%3A12px%3B%0A%09position%3Aabsolute%3B%0A%09background%3A%20rgb%28153%2C%20153%2C%20153%29%3B%20%2F%2A%20old%20browsers%20%2A%2F%0A%20%20%20%20background%3A%20-moz-linear-gradient%28top%2C%20%20rgb%28153%2C%20153%2C%20153%29%200%25%2C%20rgb%28225%2C%20225%2C%20225%29%20100%25%29%3B%20%2F%2A%20ff3.6%2B%20%2A%2F%0A%20%20%20%20background%3A%20-webkit-linear-gradient%28top%2C%20%20rgb%28153%2C%20153%2C%20153%29%200%25%2Crgb%28225%2C%20225%2C%20225%29%20100%25%29%3B%20%2F%2A%20chrome10%2B%2Csafari5.1%2B%20%2A%2F%0A%20%20%20%20background%3A%20-o-linear-gradient%28top%2C%20%20rgb%28153%2C%20153%2C%20153%29%200%25%2Crgb%28225%2C%20225%2C%20225%29%20100%25%29%3B%20%2F%2A%20opera%2011.10%2B%20%2A%2F%0A%20%20%20%20background%3A%20-ms-linear-gradient%28top%2C%20%20rgb%28153%2C%20153%2C%20153%29%200%25%2Crgb%28225%2C%20225%2C%20225%29%20100%25%29%3B%20%2F%2A%20ie10%2B%20%2A%2F%0A%20%20%20%20background%3A%20linear-gradient%28to%20bottom%2C%20%20rgb%28153%2C%20153%2C%20153%29%200%25%2Crgb%28225%2C%20225%2C%20225%29%20100%25%29%3B%20%2F%2A%20w3c%20%2A%2F%0A%20%20%20%20filter%3A%20progid%3Adximagetransform.microsoft.gradient%28%20%0A%20%20%20%20startcolorstr%3D%22rgb%28153%2C%20153%2C%20153%29%22%2C%20endcolorstr%3D%22rgb%28225%2C%20225%2C%20225%29%22%2Cgradienttype%3D0%20%29%3B%20%2F%2A%20ie6-9%20%2A%2F%0A%09border%3A3px%20solid%20rgb%28229%2C%20229%2C%20229%29%3B%0A%09border-radius%3A50%25%3B%0A%09cursor%3A%20pointer%3B%0A%09box-sizing%3Acontent-box%3B%0A%7D%0A.hesperiden%20.tp-bullet%3Ahover%2C%0A.hesperiden%20.tp-bullet.selected%20%7B%0A%09background%3Argb%28102%2C%20102%2C%20102%29%3B%0A%7D%0A.hesperiden%20.tp-bullet-image%20%7B%0A%7D%0A.hesperiden%20.tp-bullet-title%20%7B%0A%7D%0A%0A");
                    var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
                    if (htmlDiv) {
                        htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                    }
                    else {
                        var htmlDiv = document.createElement('div');
                        htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
                        document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
                    }
                </script>
            </div><!-- END REVOLUTION SLIDER -->
        </div>
        <div id="Header_wrapper" class="bg-parallax" data-enllax-ratio="0.3">

            <header id="Header">


                <!-- .header_placeholder 4sticky  -->
                <div class="header_placeholder"></div>

                <div id="Top_bar" class="loading">

                    <div class="container">
                        <div class="column one">

                            <div class="top_bar_left clearfix">

                                <!-- Logo -->
                                <div class="logo">
                                    <a id="logo" href="index.html" title="Star Security services"
                                       data-height="105" data-padding="30">
                                        <img class="logo-main scale-with-grid"
                                             src="~/Content/wp-content/uploads/2019/07/banner-logo.png"
                                             data-retina="~/Content/wp-content/uploads/2019/07/banner-logo.png"
                                             data-height="" alt="" data-no-retina />
                                        <img class="logo-sticky scale-with-grid"
                                             src="~/Content/wp-content/uploads/2019/07/banner-logo.png"
                                             data-retina="~/Content/wp-content/uploads/2019/07/banner-logo.png"
                                             data-height="" alt="" data-no-retina />
                                        <img class="logo-mobile scale-with-grid"
                                             src="~/Content/wp-content/uploads/2019/07/banner-logo.png"
                                             data-retina="~/Content/wp-content/uploads/2019/07/banner-logo.png"
                                             data-height="" alt="" data-no-retina />
                                        <img class="logo-mobile-sticky scale-with-grid" src="~/Content/wp-content/uploads/2019/07/banner-logo.png"
                                             data-retina="~/Content/wp-content/uploads/2019/07/banner-logo.png" data-height="" alt="" data-no-retina />
                                    </a>
                                </div>
                                <div class="menu_wrapper">
                                    <nav id="menu">
                                        <ul id="menu-main-menu" class="menu menu-main">
                                            <li id="menu-item-77"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item">
                                                <a href="@Url.Action("Index", "Client")"><span>HOME</span></a>
                                            </li>
                                            <li id="menu-item-2026"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                                <a href="@Url.Action("AboutUs", "Client")"><span>ABOUT</span></a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-2025"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page">
                                                        <a href="board-members/index.html">
                                                            <span>
                                                                BOARD
                                                                MEMBERS
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li id="menu-item-2024"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page">
                                                        <a href="why-sss/index.html"><span>WHY SSS</span></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-129"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                                <a href="#!"><span>DIVISIONS</span></a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-2058"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page">
                                                        <a href="abu-dhabi-divisions/index.html">
                                                            <span>
                                                                ABU DHABI
                                                                DIVISIONS
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li id="menu-item-2057"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page">
                                                        <a href="dubai-divisions/index.html">
                                                            <span>
                                                                DUBAI
                                                                DIVISIONS
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-2061"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                                <a href="professional-services/index.html">
                                                    <span>
                                                        PROFESSIONAL
                                                        SERVICES
                                                    </span>
                                                </a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-2066"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page">
                                                        <a href="recruitment/index.html"><span>RECRUITMENT</span></a>
                                                    </li>
                                                    <li id="menu-item-2083"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page">
                                                        <a href="supervision-operations-room/index.html">
                                                            <span>
                                                                SUPERVISION
                                                                &#038; OPERATION&#8217;S ROOM
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li id="menu-item-2086"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page">
                                                        <a href="training/index.html"><span>TRAINING</span></a>
                                                    </li>
                                                    <li id="menu-item-2089"
                                                        class="menu-item menu-item-type-post_type menu-item-object-page">
                                                        <a href="facilities/index.html"><span>FACILITIES</span></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-2095"
                                                class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="emiratisation/index.html"><span>EMIRATISATION</span></a>
                                            </li>
                                            <li id="menu-item-2156"
                                                class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="career/index.html"><span>CAREER</span></a>
                                            </li>
                                            <li id="menu-item-2099"
                                                class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="contact/index.html"><span>CONTACT US</span></a>
                                            </li>
                                        </ul>
                                    </nav><a class="responsive-menu-toggle " href="#"><i class="icon-menu-fine"></i></a>
                                </div>

                                <div class="secondary_menu_wrapper">
                                    <!-- #secondary-menu -->
                                </div>

                                <div class="banner_wrapper">
                                </div>

                                <div class="search_wrapper">
                                    <!-- #searchform -->


                                    <form method="get" id="searchform" action="">


                                        <i class="icon_search icon-search-fine"></i>
                                        <a href="#" class="icon_close"><i class="icon-cancel-fine"></i></a>

                                        <input type="text" class="field" name="s" placeholder="Enter your search" />
                                        <input type="submit" class="display-none" value="" />

                                    </form>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </header>

        </div>


        <!-- mfn_hook_content_before -->
        <!-- mfn_hook_content_before -->
        @RenderBody()


        <!-- mfn_hook_content_after -->
        <!-- mfn_hook_content_after -->

        <footer id="Footer" class="clearfix">


            <div class="widgets_wrapper">
                <div class="container">
                    <div class="column one-fifth">
                        <aside id="custom_html-2" class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper">
                                        <img class="scale-with-grid"
                                             src="~/Content/wp-content/uploads/2019/07/banner-logo.png" alt="" title="" />
                                    </div>
                                </div>

                                <p>
                                    Star Security Service LLC is company that represents modern security practices...
                                </p>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fifth">
                        <aside id="custom_html-3" class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <div style="text-align: left;">
                                    <h5>Usefull Links</h5>
                                    <ul>
                                        <li> <a href="#">Home</a></li>
                                        <li> <a href="#">About</a></li>
                                        <li> <a href="#">Sectors</a></li>
                                        <li> <a href="#">Divisions</a></li>
                                        <li> <a href="#">Customers</a></li>
                                        <li> <a href="#">Career</a></li>
                                        <li> <a href="#">Contact</a></li>

                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fifth">
                        <aside id="custom_html-4" class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <div style="text-align: left;">
                                    <h5>LOCATION</h5>
                                    <p>
                                        Chain Office Tower Bldg. <br>
                                        6th Floor-601,opposite al falah plaza<br>
                                        Al Muroor Road – Abu Dhabi,<br>
                                        United Arab Emirates
                                    </p>
                                    <p>
                                        Email:sss2333@emirates.net.ae<br />
                                        Phone: 00971-26675588<br />
                                        Fax: 00971-026676788
                                    </p>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fifth">
                        <aside id="execphp-2" class="widget widget_execphp">
                            <div class="execphpwidget"></div>
                        </aside>
                    </div>
                </div>
            </div>

            <div class="footer_copy">
                <div class="container">
                    <div class="column one">


                        <div class="copyright">
                            © 2020 Star Security services. All Rights Reserved. | Designed by <a href="https://aiwa.digital/">Aiwa Digital</a>
                        </div>
                        <ul class="social"></ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div id="Side_slide" class="right dark" data-width="250">
        <div class="close-wrapper"><a href="#" class="close"><i class="icon-cancel-fine"></i></a></div>
        <div class="extras">
            <div class="extras-wrapper"></div>
        </div>
        <div class="lang-wrapper"></div>
        <div class="menu_wrapper"></div>
        <ul class="social"></ul>
    </div>
    <div id="body_overlay"></div>
    <a id="back_to_top" class="button button_js sticky scroll" href="#"><i class="icon-up-open-big"></i></a>

    <!-- mfn_hook_bottom -->
    <!-- mfn_hook_bottom -->
    <div id="pum-2152"
         class="pum pum-overlay pum-theme-2143 pum-theme-default-theme popmake-overlay pum-click-to-close click_open"
         data-popmake="{&quot;id&quot;:2152,&quot;slug&quot;:&quot;career-popup&quot;,&quot;theme_id&quot;:2143,&quot;cookies&quot;:[],&quot;triggers&quot;:[{&quot;type&quot;:&quot;click_open&quot;,&quot;settings&quot;:{&quot;extra_selectors&quot;:&quot;&quot;,&quot;cookie_name&quot;:null}}],&quot;mobile_disabled&quot;:null,&quot;tablet_disabled&quot;:null,&quot;meta&quot;:{&quot;display&quot;:{&quot;stackable&quot;:&quot;1&quot;,&quot;overlay_disabled&quot;:false,&quot;scrollable_content&quot;:false,&quot;disable_reposition&quot;:false,&quot;size&quot;:&quot;tiny&quot;,&quot;responsive_min_width&quot;:&quot;0%&quot;,&quot;responsive_min_width_unit&quot;:false,&quot;responsive_max_width&quot;:&quot;100%&quot;,&quot;responsive_max_width_unit&quot;:false,&quot;custom_width&quot;:&quot;640px&quot;,&quot;custom_width_unit&quot;:false,&quot;custom_height&quot;:&quot;380px&quot;,&quot;custom_height_unit&quot;:false,&quot;custom_height_auto&quot;:false,&quot;location&quot;:&quot;center&quot;,&quot;position_from_trigger&quot;:false,&quot;position_top&quot;:&quot;100&quot;,&quot;position_left&quot;:&quot;0&quot;,&quot;position_bottom&quot;:&quot;0&quot;,&quot;position_right&quot;:&quot;0&quot;,&quot;position_fixed&quot;:false,&quot;animation_type&quot;:&quot;fade&quot;,&quot;animation_speed&quot;:&quot;350&quot;,&quot;animation_origin&quot;:&quot;center top&quot;,&quot;overlay_zindex&quot;:false,&quot;zindex&quot;:&quot;1999999999&quot;},&quot;close&quot;:{&quot;text&quot;:&quot;&quot;,&quot;button_delay&quot;:&quot;0&quot;,&quot;overlay_click&quot;:&quot;1&quot;,&quot;esc_press&quot;:false,&quot;f4_press&quot;:false},&quot;click_open&quot;:[]}}"
         role="dialog" aria-hidden="true" aria-labelledby="pum_popup_title_2152">

        <div id="popmake-2152"
             class="pum-container popmake theme-2143 pum-responsive pum-responsive-tiny responsive size-tiny">



            <div id="pum_popup_title_2152" class="pum-title popmake-title">
                Apply Now
            </div>




            <div class="pum-content popmake-content">
                <div role="form" class="wpcf7" id="wpcf7-f2142-o1" lang="en-US" dir="ltr">
                    <div class="screen-reader-response"></div>
                    <form action="#wpcf7-f2142-o1" method="post" class="wpcf7-form"
                          enctype="multipart/form-data" novalidate="novalidate">
                        <div style="display: none;">
                            <input type="hidden" name="_wpcf7" value="2142" />
                            <input type="hidden" name="_wpcf7_version" value="5.1.6" />
                            <input type="hidden" name="_wpcf7_locale" value="en_US" />
                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f2142-o1" />
                            <input type="hidden" name="_wpcf7_container_post" value="0" />
                        </div>
                        <div class="column one">
                            <span class="wpcf7-form-control-wrap your-name">
                                <input type="text"
                                       name="your-name" value="" size="40"
                                       class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                       aria-required="true" aria-invalid="false" placeholder="Full Name" />
                            </span>
                        </div>
                        <div class="column one">
                            <span class="wpcf7-form-control-wrap your-email">
                                <input type="email"
                                       name="your-email" value="" size="40"
                                       class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                       aria-required="true" aria-invalid="false" placeholder="Email Address" />
                            </span>
                        </div>
                        <div class="column one">
                            <span class="wpcf7-form-control-wrap your-number">
                                <input type="tel"
                                       name="your-number" value="" size="40"
                                       class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                                       aria-required="true" aria-invalid="false" placeholder="Contact Number" />
                            </span>
                        </div>
                        <div class="column one">
                            <span class="wpcf7-form-control-wrap your-position">
                                <select name="your-position"
                                        class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required"
                                        aria-required="true" aria-invalid="false">
                                    <option value="">-- Select Position --</option>
                                    <option value="Project Manager">Project Manager</option>
                                    <option value="HSE Engineer">HSE Engineer</option>
                                    <option value="Security Supervisor">Security Supervisor</option>
                                    <option value="Sr. Control Room Operator">Sr. Control Room Operator</option>
                                    <option value="Control Room Operator">Control Room Operator</option>
                                    <option value="security work force (Male/Female)">
                                        security work force (Male/Female)
                                    </option>
                                    <option value="security work force (Male/Female)">
                                        security work force (Male/Female)
                                    </option>
                                    <option value="Security Guard (Male/Female)">Security Guard (Male/Female)</option>
                                    <option value="Concierge">Concierge</option>
                                    <option value="Sr. Document Controller">Sr. Document Controller</option>
                                    <option value="Sr. Officer Security pass">Sr. Officer Security pass</option>
                                    <option value="Sr. Officer ID controller">Sr. Officer ID controller</option>
                                    <option value="Administration Secretary">Administration Secretary</option>
                                    <option value="Sr. ASSET Management Analyst">Sr. ASSET Management Analyst</option>
                                    <option value="Financial Assistant">Financial Assistant</option>
                                    <option value="Senior Security Specialist">Senior Security Specialist</option>
                                    <option value="Security Specialist">Security Specialist</option>
                                    <option value="Security Consultant">Security Consultant</option>
                                    <option value="Crisis Management Officer">Crisis Management Officer</option>
                                    <option value="Sr. Management Contract">Sr. Management Contract</option>
                                    <option value="Security Trainer">Security Trainer</option>
                                </select>
                            </span>
                        </div>
                        <div class="column one">
                            <span class="wpcf7-form-control-wrap your-file">
                                <input type="file"
                                       name="your-file" size="40"
                                       class="wpcf7-form-control wpcf7-file wpcf7-validates-as-required"
                                       accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv"
                                       aria-required="true" aria-invalid="false" />
                            </span>
                        </div>
                        <div class="column one">
                            <span class="wpcf7-form-control-wrap your-msg">
                                <textarea name="your-msg"
                                          cols="4" rows="3" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"
                                          placeholder="message"></textarea>
                            </span>
                        </div>
                        <div class="column one">
                            <input type="submit" value="Submit"
                                   class="wpcf7-form-control wpcf7-submit" />
                        </div>
                        <input type='hidden' class='wpcf7-pum'
                               value='{"closepopup":false,"closedelay":0,"openpopup":false,"openpopup_id":0}' />
                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                    </form>
                </div>
            </div>

            <button type="button" class="pum-close popmake-close" aria-label="Close">
                X
            </button>

        </div>

    </div>
    <script type="text/javascript">
        function revslider_showDoubleJqueryError(sliderID) {
            var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
            errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
            errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
            errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
            errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
            jQuery(sliderID).show().html(errorMessage);
        }
    </script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wpcf7 = { "apiSettings": { "root": "https:\/\/starsecurity.ae\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" } };
        var wpcf7 = { "apiSettings": { "root": "https:\/\/starsecurity.ae\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" } };
        /* ]]> */
    </script>
    <script type='text/javascript'
            src='~/Content/wp-content/plugins/contact-form-7/includes/js/scriptsb62d.js?ver=5.1.6'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/ui/core.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/ui/widget.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/ui/mouse.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/ui/sortable.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/ui/tabs.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/ui/accordion.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var mfn = { "mobileInit": "1240", "parallax": "translate3d", "responsive": "1", "lightbox": { "disable": false, "disableMobile": false, "title": false }, "slider": { "blog": 0, "clients": 0, "offer": 0, "portfolio": 0, "shop": 0, "slider": 0, "testimonials": 0 }, "ajax": "https:\/\/starsecurity.ae\/wp-admin\/admin-ajax.php" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/wp-content/themes/betheme/js/pluginsab65.js?ver=21.3.1'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/betheme/js/menuab65.js?ver=21.3.1'></script>
    <script type='text/javascript'
            src='~/Content/wp-content/themes/betheme/assets/animations/animations.minab65.js?ver=21.3.1'></script>
    <script type='text/javascript'
            src='~/Content/wp-content/themes/betheme/assets/jplayer/jplayer.minab65.js?ver=21.3.1'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/betheme/js/parallax/translate3dab65.js?ver=21.3.1'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/betheme/js/scriptsab65.js?ver=21.3.1'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/ui/position.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var pum_vars = { "version": "1.16.1", "pm_dir_url": "https:\/\/starsecurity.ae\/wp-content\/plugins\/popup-maker\/", "ajaxurl": "https:\/\/starsecurity.ae\/wp-admin\/admin-ajax.php", "restapi": "https:\/\/starsecurity.ae\/wp-json\/pum\/v1", "rest_nonce": null, "default_theme": "2143", "debug_mode": "", "disable_tracking": "", "home_url": "\/", "message_position": "top", "core_sub_forms_enabled": "1", "popups": [], "analytics_route": "analytics", "analytics_api": "https:\/\/starsecurity.ae\/wp-json\/pum\/v1" };
        var pum_sub_vars = { "ajaxurl": "https:\/\/starsecurity.ae\/wp-admin\/admin-ajax.php", "message_position": "top" };
        var pum_popups = { "pum-2152": { "triggers": [], "cookies": [], "disable_on_mobile": false, "disable_on_tablet": false, "atc_promotion": null, "explain": null, "type_section": null, "theme_id": "2143", "size": "tiny", "responsive_min_width": "0%", "responsive_max_width": "100%", "custom_width": "640px", "custom_height_auto": false, "custom_height": "380px", "scrollable_content": false, "animation_type": "fade", "animation_speed": "350", "animation_origin": "center top", "open_sound": "none", "custom_sound": "", "location": "center", "position_top": "100", "position_bottom": "0", "position_left": "0", "position_right": "0", "position_from_trigger": false, "position_fixed": false, "overlay_disabled": false, "stackable": true, "disable_reposition": false, "zindex": "1999999999", "close_button_delay": "0", "fi_promotion": null, "close_on_form_submission": false, "close_on_form_submission_delay": "0", "close_on_overlay_click": true, "close_on_esc_press": false, "close_on_f4_press": false, "disable_form_reopen": false, "disable_accessibility": false, "theme_slug": "default-theme", "id": 2152, "slug": "career-popup" } };
/* ]]> */
    </script>
    <script type='text/javascript'
            src='~/Content/wp-content/uploads/pum/pum-site-scripts71bf.js?defer&amp;generated=1622718911&amp;ver=1.16.1'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/wp-embed.min9dff.js?ver=5.3.2'></script>

</body>

<!-- Mirrored from starsecurity.ae/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Jul 2021 13:35:32 GMT -->

</html>