<!DOCTYPE html>
<html lang="en-US" class="no-js" itemscope itemtype="https://schema.org/WebPage">


<!-- Mirrored from starsecurity.ae/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 28 Jul 2021 13:33:43 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>

    <meta charset="UTF-8" />
    <link rel="alternate" hreflang="en-US" href="index.html" />
    <title>@ViewBag.Title</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="~/Content/wp-content/uploads/2019/07/banner-logo.png" type="image/x-icon" />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="Star Security services &raquo; Feed"
          href="feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Star Security services &raquo; Comments Feed"
          href="comments/feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Star Security services &raquo; Home Comments Feed"
          href="home/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/starsecurity.ae\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.3.2" } };
        !function (e, a, t) { var r, n, o, i, p = a.createElement("canvas"), s = p.getContext && p.getContext("2d"); function c(e, t) { var a = String.fromCharCode; s.clearRect(0, 0, p.width, p.height), s.fillText(a.apply(this, e), 0, 0); var r = p.toDataURL(); return s.clearRect(0, 0, p.width, p.height), s.fillText(a.apply(this, t), 0, 0), r === p.toDataURL() } function l(e) { if (!s || !s.fillText) return !1; switch (s.textBaseline = "top", s.font = "600 32px Arial", e) { case "flag": return !c([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) && (!c([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !c([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447])); case "emoji": return !c([55357, 56424, 55356, 57342, 8205, 55358, 56605, 8205, 55357, 56424, 55356, 57340], [55357, 56424, 55356, 57342, 8203, 55358, 56605, 8203, 55357, 56424, 55356, 57340]) }return !1 } function d(e) { var t = a.createElement("script"); t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t) } for (i = Array("flag", "emoji"), t.supports = { everything: !0, everythingExceptFlag: !0 }, o = 0; o < i.length; o++)t.supports[i[o]] = l(i[o]), t.supports.everything = t.supports.everything && t.supports[i[o]], "flag" !== i[o] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[i[o]]); t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function () { t.DOMReady = !0 }, t.supports.everything || (n = function () { t.readyCallback() }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () { "complete" === a.readyState && t.readyCallback() })), (r = t.source || {}).concatemoji ? d(r.concatemoji) : r.wpemoji && r.twemoji && (d(r.twemoji), d(r.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }

        .activeMain {
            color: #0094ff !important;
        }

        #myMenu {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        #myMenu li a {
            padding: 12px;
            text-decoration: none;
            color: black;
            display: block
        }

            #myMenu li a:hover {
                background-color: #0094ff;
            }
    </style>
    <link rel='stylesheet' id='wp-block-library-css'
          href='~/Content/wp-includes/css/dist/block-library/style.min9dff.css?ver=5.3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css'
          href='~/Content/wp-content/plugins/contact-form-7/includes/css/stylesb62d.css' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css'
          href='~/Content/wp-content/plugins/revslider/public/assets/css/settingsf542.css' type='text/css'
          media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {
        }
    </style>
    <link rel='stylesheet' id='style-css' href='~/Content/wp-content/themes/betheme/styleab65.css' type='text/css'
          media='all' />
    <link rel='stylesheet' id='mfn-base-css' href='~/Content/wp-content/themes/betheme/css/baseab65.css'
          type='text/css' media='all' />
    <link rel='stylesheet' id='mfn-layout-css' href='~/Content/wp-content/themes/betheme/css/layoutab65.css'
          type='text/css' media='all' />
    <link rel='stylesheet' id='mfn-shortcodes-css' href='~/Content/wp-content/themes/betheme/css/shortcodesab65.css'
          type='text/css' media='all' />
    <link rel='stylesheet' id='mfn-animations-css'
          href='~/Content/wp-content/themes/betheme/assets/animations/animations.minab65.css' type='text/css'
          media='all' />
    <link rel='stylesheet' id='mfn-jquery-ui-css'
          href='~/Content/wp-content/themes/betheme/assets/ui/jquery.ui.allab65.css' type='text/css' media='all' />
    <link rel='stylesheet' id='mfn-jplayer-css'
          href='~/Content/wp-content/themes/betheme/assets/jplayer/css/jplayer.blue.mondayab65.css' type='text/css'
          media='all' />
    <link rel='stylesheet' id='mfn-responsive-css' href='~/Content/wp-content/themes/betheme/css/responsiveab65.css'
          type='text/css' media='all' />
    <link rel='stylesheet' id='mfn-fonts-css' href="~/Content/wp-css/font-css.css" />
    <link href="~/Content/wp-css/Client.css" rel="stylesheet" />
    @RenderSection("stylecss", required: false)
    <link rel='stylesheet' id='popup-maker-site-css'
          href='~/Content/wp-content/uploads/pum/pum-site-styles4b43.css?generated=1622718908&amp;ver=1.16.1' type='text/css'
          media='all' />
    @*<script src="~/Scripts/jquery.themepunch.revolution.min.js"></script>*@
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/jquery4a5f.js?ver=1.12.4-wp'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
    <script src="~/Content/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.minf542.js"></script>
    <script src="~/Content/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.minf542.js"></script>
    <link rel='https://api.w.org/' href='~/Content/wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/Content/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 5.3.2" />
    <link rel="canonical" href="index.html" />
    <link rel='shortlink' href='index.html' />
    <link rel="alternate" type="application/json+oembed"
          href="~/Content/wp-json/oembed/1.0/embedbd34.json?url=https%3A%2F%2Fstarsecurity.ae%2F" />
    <link rel="alternate" type="text/xml+oembed"
          href="~/Content/wp-json/oembed/1.0/embed9275?url=https%3A%2F%2Fstarsecurity.ae%2F&amp;format=xml" />
    <meta name="generator"
          content="Powered by Slider Revolution 5.4.8.3 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
</head>

<body class="home page-template-default page page-id-2 template-slider  color-custom style-simple button-flat layout-full-width no-content-padding header-below header-fw minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menu-link-color menuo-right menuo-no-borders logo-no-sticky-padding footer-sliding footer-copy-center mobile-tb-hide mobile-side-slide mobile-mini-mr-lc tablet-sticky mobile-header-mini mobile-sticky be-reg-2131">

    <!-- mfn_hook_top -->
    <!-- mfn_hook_top -->

    <div id="Wrapper">
        <div class="bg-parallax" data-enllax-ratio="0.3" style="background-image: url(../../Content/wp-content/uploads/2019/12/abudhabi-banner.jpg);">

            <header id="Header">
                <!-- .header_placeholder 4sticky  -->
                <div id="Top_bar" class="loading">

                    <div class="container">
                        <div class="column one">

                            <div class="top_bar_left clearfix">
                                <!-- Logo -->
                                <div class="logo">
                                    <a id="logo" href="index.html" title="Star Security services" data-height="105"
                                       data-padding="30">
                                        <img class="logo-main scale-with-grid"
                                             src="~/Content/wp-content/uploads/2019/07/banner-logo.png"
                                             data-retina="~/Content/wp-content/uploads/2019/07/banner-logo.png"
                                             data-height="" alt="" data-no-retina />
                                        <img class="logo-sticky scale-with-grid"
                                             src="~/Content/wp-content/uploads/2019/07/banner-logo.png"
                                             data-retina="~/Content/wp-content/uploads/2019/07/banner-logo.png"
                                             data-height="" alt="" data-no-retina /><img class="logo-mobile scale-with-grid"
                                                                                         src="~/Content/wp-content/uploads/2019/07/banner-logo.png"
                                                                                         data-retina="~/Content/wp-content/uploads/2019/07/banner-logo.png"
                                                                                         data-height="" alt="" data-no-retina /><img class="logo-mobile-sticky scale-with-grid" data-height="" alt="" data-no-retina />
                                    </a>
                                </div>
                                <div class="menu_wrapper">
                                    <nav id="menu">
                                        <ul id="menu-main-menu" class="menu menu-main">
                                            <li>
                                                <a href="@Url.Action("Index", "Home")">
                                                    <span>HOME</span>
                                                </a>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="@Url.Action("AboutUs", "Home")">
                                                    <span class="@(Request.Path.StartsWith(@Url.Action("AboutUs", "Home")) ? "activeMain" : null)">ABOUT</span>
                                                </a>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a style="cursor: pointer">
                                                    <span>
                                                        SERVICES OFFER
                                                    </span>
                                                </a>
                                                <ul class="sub-menu">
                                                    @Html.Action("GetNavPartialServiceOffer", "Home")
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="@Url.Action("Career", "Home")">
                                                    <span class="@(Request.Path.StartsWith(@Url.Action("Career", "Home")) ? "activeMain" : null)">CAREER</span>
                                                </a>
                                            </li>
                                            <li id="menu-item-2099"
                                                class="menu-item menu-item-type-post_type menu-item-object-page">
                                                <a href="@Url.Action("ContactUs", "Home")">
                                                    <span class="@(Request.Path.StartsWith(@Url.Action("ContactUs", "Home")) ? "activeMain" : null)">CONTACT US</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav><a class="responsive-menu-toggle " href="#"><i class="icon-menu-fine"></i></a>
                                </div>

                                <div class="secondary_menu_wrapper">
                                    <!-- #secondary-menu -->
                                </div>

                                <div class="banner_wrapper">
                                </div>

                                <div class="search_wrapper">
                                    <!-- #searchform -->


                                    <form method="get" id="searchform" action="">


                                        <i class="icon_search icon-search-fine"></i>
                                        <a href="#" class="icon_close"><i class="icon-cancel-fine"></i></a>

                                        <input type="text" class="field" name="s" placeholder="Enter your search" />
                                        <input type="submit" class="display-none" value="" />

                                    </form>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </header>
            @RenderSection("sub_header", required: false)
            @RenderSection("sub_header_persional", required: false)
            @RenderSection("sub_header_BoardMember", required: false)
            @RenderSection("sub_header_Whysss", required: false)
            @RenderSection("sub_header_about", required: false)
            @RenderSection("sub_header_division", required: false)
            @RenderSection("sub_header_emiratisation", required: false)
            @RenderSection("sub_header_career", required: false)
            @RenderSection("sub_header_recruitment", required: false)
            @RenderSection("sub_header_dubaidivision", required: false)
            @RenderSection("sub_header_supervision", required: false)
            @RenderSection("sub_header_training", required: false)
            @RenderSection("sub_header_facilities", required: false)
        </div>


        <!-- mfn_hook_content_before -->
        <!-- mfn_hook_content_before -->
        @RenderBody()


        <!-- mfn_hook_content_after -->
        <!-- mfn_hook_content_after -->

        <footer id="Footer" class="clearfix">


            <div class="widgets_wrapper">
                <div class="container">
                    <div class="column one-fifth">
                        <aside id="custom_html-2" class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                    <div class="image_wrapper">
                                        <img class="scale-with-grid"
                                             src="~/Content/wp-content/uploads/2019/07/banner-logo.png" alt="" title="" />
                                    </div>
                                </div>

                                <p>
                                    Star Security Service LLC is company that represents modern security practices...
                                </p>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fifth">
                        <aside id="custom_html-3" class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <div style="text-align: left;">
                                    <h5>Usefull Links</h5>
                                    <ul>
                                        <li> <a href="#">Home</a></li>
                                        <li> <a href="#">About</a></li>
                                        <li> <a href="#">Sectors</a></li>
                                        <li> <a href="#">Divisions</a></li>
                                        <li> <a href="#">Customers</a></li>
                                        <li> <a href="#">Career</a></li>
                                        <li> <a href="#">Contact</a></li>

                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fifth">
                        <aside id="custom_html-4" class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <div style="text-align: left;">
                                    <h5>LOCATION</h5>
                                    <p>
                                        Chain Office Tower Bldg. <br>
                                        6th Floor-601,opposite al falah plaza<br>
                                        Al Muroor Road – Abu Dhabi,<br>
                                        United Arab Emirates
                                    </p>
                                    <p>
                                        Email:sss2333@emirates.net.ae<br />
                                        Phone: 00971-26675588<br />
                                        Fax: 00971-026676788
                                    </p>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fifth">
                        <aside id="execphp-2" class="widget widget_execphp">
                            <div class="execphpwidget"></div>
                        </aside>
                    </div>
                </div>
            </div>

            <div class="footer_copy">
                <div class="container">
                    <div class="column one">


                        <div class="copyright">
                            © 2020 Star Security services. All Rights Reserved. | Designed by <a href="https://aiwa.digital/">Aiwa Digital</a>
                        </div>
                        <ul class="social"></ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div id="Side_slide" class="right dark" data-width="250">
        <div class="close-wrapper"><a href="#" class="close"><i class="icon-cancel-fine"></i></a></div>
        <div class="extras">
            <div class="extras-wrapper"></div>
        </div>
        <div class="lang-wrapper"></div>
        <div class="menu_wrapper"></div>
        <ul class="social"></ul>
    </div>
    <div id="body_overlay"></div>
    <a id="back_to_top" class="button button_js sticky scroll" href="#"><i class="icon-up-open-big"></i></a>

    <!-- mfn_hook_bottom -->
    <!-- mfn_hook_bottom -->

    <script type="text/javascript">
        function revslider_showDoubleJqueryError(sliderID) {
            var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
            errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
            errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
            errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
            errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
            jQuery(sliderID).show().html(errorMessage);
        }
    </script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wpcf7 = { "apiSettings": { "root": "https:\/\/starsecurity.ae\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" } };
        var wpcf7 = { "apiSettings": { "root": "https:\/\/starsecurity.ae\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" } };
        /* ]]> */
    </script>
    <script type='text/javascript'
            src='~/Content/wp-content/plugins/contact-form-7/includes/js/scriptsb62d.js?ver=5.1.6'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/ui/core.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/ui/widget.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/ui/mouse.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/ui/sortable.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/ui/tabs.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/ui/accordion.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var mfn = { "mobileInit": "1240", "parallax": "translate3d", "responsive": "1", "lightbox": { "disable": false, "disableMobile": false, "title": false }, "slider": { "blog": 0, "clients": 0, "offer": 0, "portfolio": 0, "shop": 0, "slider": 0, "testimonials": 0 }, "ajax": "https:\/\/starsecurity.ae\/wp-admin\/admin-ajax.php" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/Content/wp-content/themes/betheme/js/pluginsab65.js?ver=21.3.1'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/betheme/js/menuab65.js?ver=21.3.1'></script>
    <script type='text/javascript'
            src='~/Content/wp-content/themes/betheme/assets/animations/animations.minab65.js?ver=21.3.1'></script>
    <script type='text/javascript'
            src='~/Content/wp-content/themes/betheme/assets/jplayer/jplayer.minab65.js?ver=21.3.1'></script>
    @*<script type='text/javascript' src='~/Content/wp-content/themes/betheme/js/parallax/translate3dab65.js?ver=21.3.1'></script>*@
    <script src="~/Content/wp-content/themes/betheme/js/parallax/translate3dab65.js"></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/betheme/js/scriptsab65.js?ver=21.3.1'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/ui/position.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var pum_vars = { "version": "1.16.1", "pm_dir_url": "https:\/\/starsecurity.ae\/wp-content\/plugins\/popup-maker\/", "ajaxurl": "https:\/\/starsecurity.ae\/wp-admin\/admin-ajax.php", "restapi": "https:\/\/starsecurity.ae\/wp-json\/pum\/v1", "rest_nonce": null, "default_theme": "2143", "debug_mode": "", "disable_tracking": "", "home_url": "\/", "message_position": "top", "core_sub_forms_enabled": "1", "popups": [], "analytics_route": "analytics", "analytics_api": "https:\/\/starsecurity.ae\/wp-json\/pum\/v1" };
        var pum_sub_vars = { "ajaxurl": "https:\/\/starsecurity.ae\/wp-admin\/admin-ajax.php", "message_position": "top" };
        var pum_popups = { "pum-2152": { "triggers": [], "cookies": [], "disable_on_mobile": false, "disable_on_tablet": false, "atc_promotion": null, "explain": null, "type_section": null, "theme_id": "2143", "size": "tiny", "responsive_min_width": "0%", "responsive_max_width": "100%", "custom_width": "640px", "custom_height_auto": false, "custom_height": "380px", "scrollable_content": false, "animation_type": "fade", "animation_speed": "350", "animation_origin": "center top", "open_sound": "none", "custom_sound": "", "location": "center", "position_top": "100", "position_bottom": "0", "position_left": "0", "position_right": "0", "position_from_trigger": false, "position_fixed": false, "overlay_disabled": false, "stackable": true, "disable_reposition": false, "zindex": "1999999999", "close_button_delay": "0", "fi_promotion": null, "close_on_form_submission": false, "close_on_form_submission_delay": "0", "close_on_overlay_click": true, "close_on_esc_press": false, "close_on_f4_press": false, "disable_form_reopen": false, "disable_accessibility": false, "theme_slug": "default-theme", "id": 2152, "slug": "career-popup" } };
/* ]]> */
    </script>
    <script type='text/javascript'
            src='~/Content/wp-content/uploads/pum/pum-site-scripts71bf.js?defer&amp;generated=1622718911&amp;ver=1.16.1'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/wp-embed.min9dff.js?ver=5.3.2'></script>

    @RenderSection("style", required: false)
    @RenderSection("scripts", required: false)

</body>
</html>