@model StarSecurityService.ApplicationCore.Entities.Client

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

@section style{
    <style>
        label.error {
            color: red
        }

        .font-red {
            color: red
        }
    </style>
}

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Create Client</div>
            <div class="panel-body">
                <div class="row" style="margin-bottom:40px">
                    <div class="col-xs-8">
                        <form id="formSerice" method="post">
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                <h4>Client</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        <input required id="img" type="file" name="Image" class="form-control hidden" onchange="changeImg(this)">
                                        <img id="avatar" class="thumbnail" width="300px" src="~/Areas/Asset/img/new_seo-10-512.png">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.row-->
@section scripts {
    <script src="~/Areas/Asset/js/JqueyValidate/jquery.validate.min.js"></script>
    <script>
        var $validateForm = {
            validate: $("#formSerice").validate({
                rules: {
                    Name: "required",
                    Phone: "required",
                    Image: "required",
                    Address: "required"
                },
                messages: {
                    Name: "Please enter name, can't be blank",
                    Phone: "Please enter phone, can't be blank",
                    Image: "Please choose image, can't be blank",
                    Address: "Please enter address, can't be blank"
                },
                submitHandler: function (form) {
                    //debugger
                     form.submit();
                }
            })
        };
        (function () { $validateForm.validate })();
    </script>
}