@model StarSecurityService.ApplicationCore.Entities.Vacancy

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

@section style{
    <style>
        label.error {
            color: red
        }

        .font-red {
            color: red
        }

        .gallery img {
            width: 100px;
        }
    </style>
}

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">

        <div class="panel panel-primary">
            <div class="panel-heading">Create Vacancy</div>
            <div class="panel-body">
                <div class="row" style="margin-bottom:40px">
                    <div class="col-xs-8">
                        @using (Html.BeginForm("Create", "Vacancy", FormMethod.Post, new { enctype = "multipart/form-data", id = "formVacancy" }))
                        {
                            @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Vacancy</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger", id = "formVacancy" })


                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.BranchId, new SelectList(ViewBag.Branch, "Id", "Name"), "Select Branch", new { @class = "form-control", id = "BranchId" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ServiceOfferId, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.ServiceOfferId, new SelectList(ViewBag.Service, "Id", "Title"), "Select ServiceOffer", new { @class = "form-control", id = "ServiceOfferId" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="number" step="0.1" id="Salary" name="Salary" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Requirement, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Requirement, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Requirement, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.Status)
                                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                        }
                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/.row-->

@section scripts{
    <script src="~/Areas/Asset/js/JqueyValidate/jquery.validate.min.js"></script>
    <script>
        var $validateForm = {
            validate: $("#formVacancy").validate({
                rules: {
                    Requirement: "required",
                    Title: "required",
                    BranchId: "required",
                    ServiceOfferId: "required",
                    Salary: "required",
                },
                messages: {
                    Requirement: "Please input Requirement!",
                    Title: "Please input Name!",
                    Salary: "Please input Name!",
                    BranchId: "Please choose BranchId!",
                    ServiceOfferId: "Please choose ServiceOfferId!",
                },
                submitHandler: function (form) {
                    form.submit();
                }
            })
        };
        (function () { $validateForm.validate })();
    </script>
}