@model IEnumerable<StarSecurityService.ApplicationCore.Entities.Vacancy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}
@section style{
    <style>
        #title {
            font-size: 1.5rem;
            width: 250px;
            line-height: 2rem;
            max-height: 9rem;
            -webkit-box-orient: vertical;
            display: block;
            display: -webkit-box;
            overflow: hidden !important;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
        }
    </style>
}
    <br />
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">

        <div class="panel panel-primary">

            <div class="panel-body">
                <div class="bootstrap-table">
                    <div class="table-responsive">
                        <a href="@Url.Action("Create", "Vacancy")" class="btn btn-primary">Create Vacancy</a>
                        <hr />
                        <table id="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Requirement)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateAt)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Salary)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <h4 id="title" title="@Html.Raw(item.Requirement)">@Html.Raw(item.Requirement)</h4>
                                        </td>
                                        <td>
                                            <h4 id="title" style="width: 150px" title="@Html.Raw(item.Title)">@Html.Raw(item.Title)</h4>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdateAt)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Salary)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            <a href="@Url.Action($"Edit/{item.Id}","Vacancy")" class="btn btn-success btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                            <a href="@Url.Action($"Delete/{item.Id}","Vacancy")" class="btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div><!--/.row-->
@section scripts{
    <script>
        $("#table").DataTable();
    </script>
}