@model IEnumerable<StarSecurityService.ApplicationCore.Entities.Vacancy>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Vacancy</h1>
    </div>
</div><!--/.row-->

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">

        <div class="panel panel-primary">
            <div class="panel-heading">Vacancy List</div>
            <div class="panel-body">
                <div class="bootstrap-table">
                    <div class="table-responsive">
                        <a href="@Url.Action("Create", "Vacancy")" class="btn btn-primary">Create Vacancy</a>
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EmployeeId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BranchId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EndDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StartDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmployeeId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BranchId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }

                        </table>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div><!--/.row-->